.AppPage, .runtime-layout, .app-popover, #editor-preview-body, .ae-PreviewFrame{--fonts-size-5: 16px;--fonts-size-6: 14px;--fonts-size-7: 12px;--link-icon-size: var(--sizes-size-9);--Rating-colors: '[{"id":2,"value":"#abadb1"},{"id":3,"value":"#787b81"},{"id":5,"value":"#ffa900"}]';}
.PageWrapper,
.App,
.AppPage,
.runtime-layout,
.app-popover,
#editor-preview-body,
.preview-theme,
.ae-PreviewFrame,
.preview-theme-dialog .cxd-PopOver {
    --Form-item-fontColor: var(--colors-neutral-text-4);
    --Form-description-color: var(--colors-neutral-text-5);
    --Form-item-onError-color: var(--colors-error-5);
    --inputDate-default-icon-color: var(--colors-neutral-fill-5);
    --Nav-item-fontSize: var(--fonts-size-6);
    --fontSizeMd: var(--fonts-size-6);
    --fontSizeLg: var(--fonts-size-5);
}

.cxd-Link svg {
    display: inline-block;
    vertical-align: text-top;
}
